{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{%  block jumbotron %}
<!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="jumbotron">
     <div class="container">
	  <div class="row">
	   <div class="col-sm-6">
        <h1>Welcome to Srvup</h1>
        <p>This is a course, and a functioning web app, to help you learn how to code a 
		    content membership site in Django.
		    Features:</br>
			Step-by-Step</br>
			Fully Functioning</br>
			On Demand Access </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
	    </div>
	   <div class="col-sm-6" "col-sm-offset-6">
		<div role="tabpanel">
		  <ul class="nav nav-tabs" role="tablist">
		  <li role="presentation" class="active">
		   <a href="#register" aria-controls="home" role="tab" data-toggle="tab">Register</a>
		  </li>
          <li role="presentation" class>
		   <a href="#login" aria-controls="profile" role="tab" data-toggle="tab">Login</a>
		 </li>
		</ul>
		<div class="tab-content">
          <div role="tabpanel" class="tab-pane-active" id="register" style="text-align:center;">
            <form method="POST" action="/register/"> 
			<input type="hidden" name="csrfmiddlewaretoken" value="gck8POP871rrn2nblxmb4cr747JJt9mi">          
            <input type="hidden" name="csrfmiddlewaretoken" value="gck8POP871rrn2nblxmb4cr747JJt9mi"> 
			<div id="div_id_username" class="form-group">
				<div class="controls ">
				<input class="textinput textInput form-control" id="id_username" name="username" placeholder="Username" type="text">
				</div>
		    </div>
		    <div id="div_id_email" class="form-group">
			  <div class="controls ">
			  <input class="textinput textInput form-control" id="id_email" name="email" placeholder="yours@gmail.com" type="text"> 
			  </div>
			</div>
			<div id="div_id_password" class="form-group">
			    <div class="controls ">
			    <input class="textinput textInput form-control" id="id_password" name="password" placeholder="Password" type="password"> </div>
			</div>
			<div id="div_id_password2" class="form-group">
			    <div class="controls ">
			    <input class="textinput textInput form-control" id="id_password2" name="password2" placeholder="Password Confirmation" type="password"> 
				</div>
			</div>
			<div class="form-actions">
			  <input type="submit" name="submit" value="Start Free Account" class="btn btn-primary btn btn-success btn-block" id="submit-id-submit"> 
			</div>
			</form>    
                <!-- <input class='form-control' type='text' name='username' placeholder='Username'/>
                <input class='form-control' type='text' name='email' placeholder='Email'/>
                <input class='form-control' type='password' name='password1' placeholder='Password'/>
                <input class='form-control' type='password' name='password2' placeholder='Confirm Password'/>
                <input type='submit' class='btn btn-success btn-block' value='Start Free Account' />
                 -->
            <a class="btn btn-facebook btn-block" href="/login/facebook/"><i class="fa fa-facebook-square" style="color:white;"></i> Join with Facebook</a>
            <p style="font-size: 14px;margin-top:10px;margin-bottom: 0px;">By creating an account, you agree to our <a href="/terms/">Terms</a>.</p>
           </div>
           <div role="tabpanel" class="tab-pane" id="login" style="text-align:center;">
              <form method="post" action="/login/"> <input type="hidden" name="csrfmiddlewaretoken" value="gck8POP871rrn2nblxmb4cr747JJt9mi">
                <!--  <label for='loginUser'>Username</label> -->
                <input type="text" class="form-control" id="loginUser" placeholder="Username/Email" name="username">
                <!--  <label for='loginPass'>Password</label> -->
				<input maxlength="4096" class="form-control" id="loginPass" name="password" placeholder="Password" type="password" style="margin-bottom:5px;">
                <button type="submit" id="submitbtn" data-loading-text="Loading..." class="btn btn-block btn-default btn-success">Login</button>
               </form>
               <a href="/login/facebook/" class="btn btn-facebook btn-block">Facebook Login <i class="fa fa-facebook-square" style="color:white;"></i></a>
               <p style="font-size: 16px;margin-top:10px;margin-bottom: 0px;"><a href="/accounts/password/reset/">Reset password?</a></p>
		  </div>
         </div>
         </div>
	    </div>
		</div>

{% endblock %}
	
{% block content %}

	<div class="container">
	<!-- Example row of columns -->
	  <div class="row">
       <div class="col-sm-3">
		 <img src = "{% static 'img/djangologo.jpg' %}" style= "height:200px">
         <h4> Cutting Edge </br> Web Technology </h4>
		 <p> Django backend, Bootstrap Frontend, Ajax, Python and More </p>
       </img>
	   </div>
       <div class="col-sm-4">
		 <img src = "{% static 'img/calendar.jpg' %}" style= "height:200px">
         <h4> Your Project </br> Your Schedule </h4>
		 <p> Time Constraints are something we take very seriously. Implementing, or learning, this project is easier than ever </p>
       </img>
	   </div>
	   <div class="col-sm-4">
		   <img src = "{% static 'img/GitHub.jpg' %}" style= "height:200px">
           <h4> A complete project </br> & Open source Code </h4>
		 <p> The svrup project is ongoing and made to work out of the box. </p>
       </img>
	   </div>
 </div>
{% endblock %}



